<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811331265725-7n8452t7kc3i61ehj08eu851eb0diejn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811331265725-7n8452t7kc3i61ehj08eu851eb0diejn</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMv8XX51paM1xn13EZ31zpDtEBGjd-DA</string>
	<key>GCM_SENDER_ID</key>
	<string>811331265725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hallsArchitecture.FirebaseBYOA</string>
	<key>PROJECT_ID</key>
	<string>fir-byoa-halls</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-byoa-halls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811331265725:ios:a579a8e3d7edebd10c03d4</string>
</dict>
</plist>